GloryInDeath/Library/metadata/*
GloryInDeath/Library/ShaderCache/*
GloryInDeath/Temp/*
GloryInDeath/GloryInDeath.sln
GloryInDeath/Library/assetDatabase3
GloryInDeath/Library/shadercompiler-UnityShaderCompiler0.log
GloryInDeath/Library/InspectorExpandedItems.asset
*.meta
